# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
lastchrome

node_modules
.output
stats.html
stats-*.json
.wxt
web-ext.config.ts
dump.rdb

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
backend/bin
backend/lib
backend/.env
backend/.venv
backend/__pycache__
backend/services/__pycache__
.env
